* {
    margin: 0;
}


#hud {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 22px;
  user-select: none;
}
#crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  pointer-events: none; /* pour ne pas interférer avec la souris */
}

#crosshair::before, #crosshair::after {
  content: '';
  position: absolute;
  background: white;
}

#crosshair::before {
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  transform: translateX(-50%);
}

#crosshair::after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
}



  #levelComplete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 60px;
    background: rgba(0, 0, 0, 0.85);
    border: 2px solid cyan;
    border-radius: 10px;
    z-index: 20;
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 10px cyan;
  }

  #levelComplete.hidden {
    display: none;
  }

  #levelComplete button {
    margin-top: 20px;
    padding: 10px 20px;
    background: cyan;
    border: none;
    font-size: 18px;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 0 0 10px cyan;
  }
